#tableTitle_fontnormal{
    font-weight: 100 !important;
    text-align: center
}
.firstCheck .checkItem{
    position: fixed;
    width:450px;
    height: 350px;
    background: #f4f4f4;
    right:-420px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #eee;
    transition: ease 0.3s all;
    z-index: 9999;
}
.firstCheck .checkItem .checkItem_title{
    box-sizing: border-box;
    float: left;
    width:30px;
    height: 100%;
    text-align: center;
    line-height: 1.6;
    padding: 130px 0;
    background-color: #85CECA;
}
.firstCheck .checkItem .checkItem_cocntent{
    box-sizing: border-box;
    float: left;
    width: 420px;
    padding: 20px 10px;
    height: 90%;
    margin-top: 3%;
    overflow-y: auto;
}
.firstCheck .checkItem .checkItem_cocntent li{
    /* text-indent: 0.8em; */
    line-height: 1.6;
    font-size: 16px;
    margin: 5px;

}
.firstCheck .checkItem:hover{
    right:0px;
}
