.DS_Store
**/dist/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.project*
**/*.zip
**/.vscode
**/node_modules/


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
