.allInvestList {
  background: #efeff4;
  height: 100%;
  // min-height: 812px;

  .contentBox {
    // height: 156px;
    margin-top: 10px;
    // background: skyblue;
    background: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    .fundNameStatus {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .fundNameStatued {
        width: 80%;
        padding-top: 15px;
        display: flex;
        .fundName {
          display: inline-block;
          max-width: 70%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #4c4c4c;
          font-size: 16px;
          font-weight: 400;
        }
        .fundCode {
          display: inline-block;
          color: #4c4c4c;
          font-size: 16px;
          font-weight: 400;
        }
      }
      .status {
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        margin-top: 15px;
        background: rgb(233, 239, 247);
        opacity: 0.8;
        padding: 1px 4px;
        border-radius: 4px;
        color: #3378dd;
      }
      .statusStop {
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        margin-top: 15px;
        background: rgb(243, 219, 216);
        opacity: 0.8;
        padding: 1px 4px;
        border-radius: 4px;
        color: #ee4634;
      }
      .statusStopAndTerm {
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        margin-top: 15px;
        background: rgb(209, 208, 208);
        opacity: 0.8;
        padding: 1px 4px;
        border-radius: 4px;
        color: #4c4c4c;
      }
    }
    .fixedInvest {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0px;
      background: #fff;
      .cumulative {
        .allInvest {
          font-size: 12px;
          font-weight: 400;
          font-family: PingFangSC-Regular;
          color: #909090;
        }
        .money {
          color: #4c4c4c;
          font-size: 14px;
          font-weight: 400;
        }
        span {
          display: block;
        }
      }
      .alerdyStage {
        display: flex;
        flex-direction: row;
        align-items: center;
        .stage {
          color: #4c4c4c;
          font-size: 12px;
          font-weight: 400;
        }
        img {
          width: 8px;
          height: 13px;
          margin-left: 10px;
          line-height: 17px;
        }
      }
    }
  }
  .explain {
    font-size: 12px;
    font-weight: 400;
    color: #909090;
    padding: 10px 0px;
    border-top: 1px solid #e6e6e6;
  }
  .no-data {
    width: 100%;
    text-align: center;
    margin-top: 140px;
    img {
      width: 125px;
      height: 117px;
    }
    span {
      display: block;
      margin-top: 30px;
      color: #909090;
      font-size: 15px;
    }
  }
  .loadMore {
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    color: #909090;
  }
  .no-data {
    text-align: center;
    width: 100%;
    margin-top: 40px;

    img {
      width: 125px;
      height: 117px;
    }

    span {
      display: block;
      margin-top: 30px;
      color: #909090;
      font-size: 15px;
    }
  }
}
