.fund-buy {
  .pop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #555;
    opacity: 0.4;
    z-index: 100;
  }
  .buy-rule {
    background-color: #fff;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #000;
    font-size: 14px;
    padding-left: 15px;
    .titleName {
      font-weight: 400;
      max-width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .right-text {
      padding-right: 15px;
      color: #909090;
      font-weight: 400;
    }
  }
  .pop-window {
    height: 320px;
    width: 280px;
    z-index: 10000;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -140px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    font-size: 16px;
    .main {
      height: 260px;
      width: 100%;
      border-radius: 5px 5px 0 0;
      box-sizing: border-box;
      padding: 20px;
      .alert-type {
        height: 50px;
        line-height: 50px;
        font-size: 25px;
        text-align: center;
      }
      .alert-mess {
        height: 70px;
        line-height: 70px;
        text-align: center;
      }
      .alert-info {
        line-height: 30px;
      }
    }
    .btn-place {
      height: 60px;
      width: 100%;
      background: #7f7dff;
      line-height: 60px;
      border-radius: 0 0 5px 5px;
      color: #fff;
      .button-1 {
        width: 50%;
        display: inline-block;
        text-align: center;
        border-right: 1px solid #fff;
        box-sizing: border-box;
      }
      .button-2 {
        width: 50%;
        display: inline-block;
        text-align: center;
      }
    }
  }
  .bank-card-info {
    box-sizing: border-box;
    height: 78px;
    width: 100%;
    padding-left: 80px;
    background: url(../asset/input-card.png);
    background-size: 40px 28px;
    background-position: 20px center;
    background-repeat: no-repeat;
    background-color: #fff;
    .bank-name {
      height: 35px;
      line-height: 35px;
      padding-top: 8px;
      font-size: 16px;
      color: #4a4a4a;
    }
    .card-num-type {
      height: 25px;
      line-height: 25px;
      font-size: 12px;
      color: #979797;
    }
  }
  .mid {
    height: 10px;
    width: 100%;
    background: #f2f2f2;
  }
  .white {
    position: relative;
    background: #fff;
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    .borderall {
      height: 84px;
      position: relative;
    }
    .borderall:before {
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      left: 0;
      top: 0;
      border: 1px solid #4d4f51;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
    .borderall-focus {
      height: 84px;
      position: relative;
    }
    .borderall-focus:before {
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      left: 0;
      top: 0;
      border: 1px solid #1c82de;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
    .money-input {
      position: absolute;
      left: 15px;
      top: 18px;
      right: 15px;
      bottom: 15px;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      height: 84px;
      padding-left: 6px;
      padding-right: 6px;
      .moneyInvest {
        color: #000;
        width: 100%;
        line-height: 32px;
        border: none;
        outline: none;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 4.5px;
        tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #d8d8d8;
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        padding-top: 5px;
        letter-spacing: 0px;
      }
      ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #d8d8d8;
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        padding-top: 5px;
        letter-spacing: 0px;
      }
      input:-ms-input-placeholder {
        color: #d8d8d8;
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        padding-top: 5px;
        letter-spacing: 0px;
      }
      input::-webkit-input-placeholder {
        color: #d8d8d8;
        font-size: 24px;
        line-height: 32px;
        padding-top: 5px;
        font-weight: 400;
        letter-spacing: 0px;
      }
    }
  }
  .alert-text {
    font-size: 14px;
    padding-left: 14px;
    background: #fff;
    padding-bottom: 16px;
    font-weight: 400;
    color: #909090;
    p {
      height: 20px;
      line-height: 20px;
      letter-spacing: 0px;
    }
  }
  .red {
    color: #ee4634;
  }
  .ym-checkbox {
    color: #979797;
    font-size: 10px;
    margin: -15px 20px;
  }
  .ym-pos {
    text-align: center;
    color: #979797;
    font-size: 10px;
  }
  .prompt-p {
    color: #ee4634;
    font-size: 14px;
    margin: 8px 18px 10px 18px;
  }
  .confrim {
    color: #909090;
    font-size: 12px;
    margin-top: 18px;
    margin-left: 10px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    .confrim-place {
      height: 19px;
      width: 19px;
      display: inline-block;
    }
    .confrim-pre {
      background: url(../asset/checked.png);
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: center center;
    }
    .confrim-nor {
      background: url(../asset/unchecked.png);
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: center center;
    }
    .confrim-text {
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
    }
    a {
      color: #7f7dff;
    }
  }
  .fund-list {
    .tr {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      padding: 2px 10px;
      font-size: 12px;
      height: 26px;
      align-items: center;
      -webkit-align-items: center;
      background: #fff;
      .name {
        width: 32%;
        text-align: left;
      }
      span {
        width: 17%;
        text-align: center;
      }
    }
  }
  .more-btn {
    color: #1c82de;
    font-size: 14px;
    padding: 6px 0;
    text-align: center;
    background: #fff;
    img {
      height: 10px;
      margin-left: 6px;
    }
  }
  .input-mess {
    color: #979797;
    margin: 0 20px;
    font-size: 14px;
  }
  .pay-title {
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    font-weight: 400;
    padding-left: 15px;
    background: #fff;
  }
  .pay-bank {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    // flex-direction: column;
    // -webkit-flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #909090;
    background: #fff;
    font-weight: 400;
    .see {
      font-size: 14px;
      color: #909090;
    }

    img {
      width: 10px;
      height: 10px;
      margin-right: 7px;
    }
    .bottom-info {
      margin-left: 17px;
    }
  }
  .pay-line {
    height: 1px;
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
    .line {
      height: 1px;
      width: 100%;
      background: #e6e6e6;
    }
  }
  .line10 {
    height: 10px;
  }
  .select-pay {
    em {
      color: #1c82de !important;
      font-size: 14px;
    }
  }
  .next-btn {
    margin: 60px 15px 0px 15px;
    background-color: #1c82de;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    font-size: 17px;
  }
  .fake-input-container {
    color: #d8d8d8;
    font-size: 24px !important;
    line-height: 32px;
    font-weight: 400;
    padding-top: 5px;
    letter-spacing: 0px;
  }
  .fake-input {
    color: #000 !important;
    width: 100% !important;
    line-height: 32px !important;
    font-size: 30px !important;
    font-weight: 500 !important;
    letter-spacing: 4.5px !important;
    tap-highlight-color: rgba(0, 0, 0, 0) !important;
  }
  .am-list-item {
    padding-left: 0 !important;
  }
}
