.fundInfor {
  background: #fff;

  .fundInfor-top {
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 14px 16px;
    box-sizing: border-box;

    .li {
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        font-size: 12px;
        color: #666;
        margin-bottom: -4px;
      }

      em {
        font-size: 24px;
      }
    }

    .line {
      width: 1px;
      background: #eee;
    }
  }

  .fund-row {
    height: 50px;
    line-height: 50px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    color: #4c4c4c;
    border-bottom: 1px solid #eee;
  }

  .space-row {
    height: 10px;
    background: #f2f2f2;
  }

  .table-tr-head {
    color: #999;
    border: 1px solid rgba(238, 238, 238, 0.5);
  }

  .table-tr {
    height: 30px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: #4c4c4c;
    text-align: center;

    div {
      width: 34%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-left: 16px;
      text-align: left;
    }
  }

  .fund-info-ratio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8px 20px;

    .li {
      width: 50%;
      text-align: left;
      color: #4c4c4c;
      font-size: 12px;

      div {
        width: 100%;
        display: flex;
        align-items: center;

        flex-direction: row;
        text-align: left;

        span {
          width: 8px;
          height: 8px;
          margin-right: 10px;
          border-radius: 50%;
          display: inline-block;
        }

        em {
          margin-right: 6px;
        }
      }
    }

    div:nth-child(even) {
      text-align: right;
    }
  }

  .fund-info-title {
    padding: 0 16px;
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    color: #4c4c4c;
    font-weight: 400;

    span {
      font-weight: 600;
    }
  }

  .space-line {
    height: 1px;
    background: #eee;
  }
}
