$red: #ff5654;
.fund-detail {
  padding-bottom: 54px;
  .topline {
    height: 18px;
  }
  .rule-text {
    margin: 0 16px;
    padding-top: 5px;
    border-top: 1px solid #eee;
    overflow: hidden;
    font-weight: 300;
    span {
      width: 4px;
      height: 4px;
      background: #fa5e4a;
      display: inline-block;
      opacity: 0.45;
      float: left;
      margin: 7px;
    }
  }
  .more-link {
    display: block;
    text-align: center;
    padding: 0px 0 8px 0;
    font-size: 12px;
    color: #1c82de;
    text-decoration: none;
    font-weight: 400;
    line-height: 17px;
    font-weight: 400;
  }
  .bottom-text {
    overflow: hidden;
    padding: 4px 16px 23px 16px;
  }
  .top-title {
    color: #030303;
    font-size: 14px;
    height: 40px;
    line-height: 42px;
    padding: 0 14px;
  }
  .top-title-huo {
    height: 14px;
    min-height: 14px;
  }

  .rank {
    background: #ffffff;
    width: 100%;
    .rankTitle {
      padding-left: 14px;
      height: 44px;
      align-items: center;
      justify-content: center;
      line-height: 44px;
      // text-align: center;
      text-justify: center;
      border-bottom: 1px solid #e6e6e6;
      // font-family: 'PingFangSC-Regular';
      font-weight: 400;
      font-size: 14px;
    }

    .rankTab {
      width: 100%;
      padding-left: 14px;
      padding-right: 14px;
      height: 35px;
      background: #f9f9fb;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      .tab {
        line-height: 35px;
        font-size: 13px;
        color: #4d4f51;
      }
    }

    .rankListItem {
      width: 100%;
      height: 50px;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      padding-left: 14px;
      padding-right: 14px;
      .time {
        line-height: 50px;
        font-size: 14px;
        color: #4d4f51;
      }

      .rank {
        line-height: 50px;
        font-size: 14px;
        color: #4d4f51;
      }

      .ratioAdd {
        line-height: 50px;
        font-size: 14px;
        color: #ee4634;
      }

      .ratioRemove {
        line-height: 50px;
        font-size: 14px;
        color: #00d348;
      }

      .ratioZero {
        line-height: 50px;
        font-size: 14px;
        color: #4d4f51;
      }
    }

    .rankMore {
      width: 100%;
      height: 50px;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;

      .more {
        line-height: 50px;
        font-size: 14px;
        font-weight: 400;
        color: #1c82de;
      }

      .img {
        width: 13px;
        height: 7px;
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }
  .top-box-center {
    display: flex;

    flex-direction: row;
    // justify-content: space-between;
    // -webkit-justify-content: space-between;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    padding: 0 14px 14px 14px;
    box-sizing: border-box;
    img {
      width: 11px;
      height: 11px;
      vertical-align: middle;
      margin-left: 4px;
      margin-bottom: 4px;
    }
    .division-line {
      width: 1px;
      height: 28px;
      background: #e6e6e6;
      margin: 0 5px;
    }
    .target-num-box-left {
      width: 49%;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      align-items: flex-end;
      -webkit-align-items: flex-end;
      padding-bottom: 6px;
      .text {
        font-size: 12px;
        color: #909090;
        // margin-left: 8px;
        font-weight: 400;
      }
      .num {
        color: #000;
        font-size: 20px;
        // margin-left: 4px;
        height: 36px;
        line-height: 36px;
        margin-top: 7px;
      }
      .num-red {
        color: #ee4634;
        font-size: 24px;
        font-weight: 400;
      }
      .num-green {
        color: #1ab28c;
        font-size: 24px;
        font-weight: 400;
      }
      .num-grey {
        color: #4d4f51;
        font-size: 24px;
        font-weight: 400;
      }
    }
  }
  .top-box-center {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 0 14px;
    box-sizing: border-box;

    img {
      width: 11px;
      height: 11px;
      vertical-align: middle;
      margin-left: 4px;
      margin-bottom: 4px;
    }
    .division-line {
      width: 1px;
      height: 34px;
      background: #e6e6e6;
      // margin: 25px 5px;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    .target-num-box-right {
      width: 49%;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      align-items: flex-end;
      -webkit-align-items: flex-end;
      padding-bottom: 6px;
      padding-left: 34px;
      .text {
        font-size: 12px;
        color: #909090;
        line-height: 17px;
        font-weight: 400;
        // padding-left: 30px;
      }

      .num {
        color: #000;
        font-size: 25px;
        height: 36px;
        line-height: 36px;

        margin-top: 7px;
        // margin-top: 8px;
        // margin-bottom: 6px;
        font-weight: 400;

        // margin-left: 10px;
        text-align: left;
      }
      .num-red {
        color: #ee4634;
        font-size: 25px;
        height: 36px;
        line-height: 36px;
        margin-top: 8x;
        margin-bottom: 6px;
      }

      .num-red {
        color: #ee4634;
      }
      .num-green {
        color: #1ab28c;
      }
      .num-grey {
        color: #4d4f51;
      }
    }
  }

  .tag-list-box {
    height: 35px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    padding-left: 15px;
    // margin: -10px 16px 0px 16px;
    label {
      font-size: 12px;
      margin-right: 8px;
      height: 18px;
      line-height: 18px;
      padding: 0 6px;
    }
    .low {
      position: relative;
      color: #00d348 !important;
      font-weight: 300;
      height: 18px;
    }
    .low:before {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 200%;
      width: 200%;
      border-radius: 30px;
      border: 1px solid #00d348;
      color: #00d348;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }

    .text-tab {
      height: 18px;
      line-height: 18px;
      text-align: start;
    }

    .middle {
      color: #f5a623 !important;
      position: relative;
      font-weight: 300;
      height: 18px;
    }

    .middle:before {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 200%;
      width: 200%;
      border-radius: 30px;
      border: 1px solid #f5a623;
      color: #f5a623;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    .high {
      color: #ee4634 !important;
      position: relative;
      font-weight: 300;
      height: 18px;
    }
    .high:before {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 200%;
      width: 200%;
      border-radius: 30px;
      border: 1px solid #ee4634;
      color: #ee4634;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    span {
      font-size: 12px;
      line-height: 18px;
      color: #909090;
      margin-right: 8px;
      text-align: start;
      font-weight: 300;
    }
  }
  .division-line-row {
    width: auto;
    height: 1px;
    background: #e6e6e6;
    margin: 0 14px;
  }
  .tab-list {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #eee;
    div {
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 15px;
      color: #999;
      border-bottom: 1px solid transparent;
    }
    .active {
      border-bottom: 1px solid #1c82de;
      span {
        color: #1c82de;
        position: relative;
        text-decoration: none;
        &:before {
          position: absolute;
          left: -10px;
          top: 50%;
          margin-top: -5px;
          content: '';
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 4px solid #1c82de;
          display: inline-block;
          margin-right: 7px;
        }
      }
    }
  }
  .text-box {
    padding: 17px;
    font-size: 13px;
    color: #999;
  }
  .line_risk {
    margin: 0px 16px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    font-weight: 400;
    .line_risk_span {
      flex: 1;
      color: #030303;
    }
    .line_risk_span_r {
      text-align: right;
      flex: 2;
      color: #4d4f51;
    }
  }
  .grayColor {
    width: 100%;
    height: 10px;
    background-color: #f5f5fa;
  }
  .notice {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
    display: flex;
    align-items: center;
    img {
      display: inline-block;
      width: 15px;
      height: 13px;
    }
    .marketRead {
      width: 20%;
      // width: 61px;
      // height: 15px;
      border: 1px solid #ee4634;
      color: #ee4634;
      text-align: center;
      line-height: 15px;
      font-size: 12px;
      margin-left: 10px;
      box-sizing: border-box;
      // padding: 2px 3px;
      border-radius: 2px;
      padding: 1px 2px 0px 2px;
    }
    .noticeContent {
      font-size: 12px;
      color: #4d4f51;
      margin-left: 10px;
      margin-right: 10px;
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 400;
    }
    .noticeContents {
      margin-left: 10px;
      margin-right: 10px;
      width: 70%;
    }
    .line45 {
      width: 1px;
      height: 23px;
      background-color: #e6e6e6;
    }
    .moreAdd {
      color: #1c82de;
      font-size: 12px;
      width: 16%;
      text-align: right;
      font-weight: 400;
    }
  }
  .count-list-title {
    color: #000000;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    font-weight: 400;
    margin: 0 16px;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    .left {
      float: left;
      font-weight: 400;
    }
    .right {
      float: right;
      color: #999;
      font-size: 13px;
      line-height: 48px;
    }
  }
  .tab-border {
    margin-left: 16px;
    margin-right: 16px;
    height: 43px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 400;
  }
  .tab-border3 {
    margin-left: 16px;
    margin-right: 16px;
    height: 43px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 400;
    color: #000000;
    .tab {
      width: 33%;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      height: 44px;
      line-height: 44px;
    }
  }

  .tab-border4 {
    margin-left: 16px;
    margin-right: 16px;
    height: 43px;
    border-bottom: 1px solid #e6e6e6;

    .tab {
      width: 25%;
      text-align: center;
      font-size: 14px;
      height: 44px;
      font-weight: 400;
      line-height: 44px;
    }
  }
  .fund-btn {
    height: 44px;
    line-height: 44px;
    color: #1c82de;
    font-size: 12px;
    text-decoration: underline;
    text-align: center;
  }
  .count-list-place {
    margin-bottom: 25px;
    .count-detail-line {
      height: 54px;
      margin-bottom: 1px;
      padding: 0 16px;
      .k-v {
        padding-right: 12px;
        height: 54px;
        line-height: 54px;
        color: #4a4a4a;
        .tag-box {
          margin-left: 8px;
          padding: 0 4px;
          background: rgba(235, 246, 255, 0.36);
          border: 1px solid rgba(154, 159, 253, 0.36);
          color: #0067ff;
          border-radius: 0 8px;
          font-size: 12px;
        }
        .left {
          float: left;
          font-size: 14px;
          color: #4a4a4a;
          img {
            margin-left: 8px;
            width: 19px;
            height: 12px;
          }
        }
        .right {
          float: right;
          font-size: 14px;
        }
      }
      .void-line {
        margin-right: 20px;
        height: 2px;
        background: #eee;
        .display-line {
          background: #1c82de;
          height: 2px;
          width: 50%;
        }
      }
    }
    .count-info-title {
      padding: 0 16px;
      height: 44px;
      line-height: 44px;
      font-size: 12px;
      color: #4c4c4c;
      font-weight: 400;
      border-bottom: 1px solid rgba(238, 238, 238, 0.5);
      border-left: none;
      border-right: none;
      span {
        font-weight: 600;
      }
    }
    .count-info-title-min {
      height: 34px;
      line-height: 34px;
      text-align: center;
      font-size: 12px;
      color: #797979;
      border-bottom: 0.5px dashed #cacaca;
      b {
        color: #797979;
      }
    }
    .count-info-ratio {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      justify-content: center;
      -webkit-justify-content: center;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      padding: 22px 20px;
      .li {
        width: 25%;
        color: #4c4c4c;
        font-size: 12px;
        margin: auto;
      }
      span {
        float: right;
      }
    }
  }

  .info-div {
    p {
      color: #909090;
      font-size: 12px;
      line-height: 20px;
      text-align: justify;
      margin: 9px 16px 26px 16px;
      font-weight: 400;
    }
  }

  .foot {
    height: 150px;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    margin-top: 20px;
    line-height: 40px;
  }
  .thin-line {
    position: relative;
  }
  .thin-line:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e6e6e6;
    color: #e6e6e6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }

  .bottom-contianer {
    position: fixed;
    bottom: 0;
    width: 100%;
    .bottom-buy-info {
      height: 32px;
      background: #fff;
      box-shadow: 0px 1px 0px 0px rgba(232, 232, 232, 1);
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;

      .fee-rate {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        white-space: pre;
        -webkit-justify-content: center;
        background: #f3f9ff;
        .fee-label {
          white-space: pre;
          color: #4d4f51;
          font-size: 12px;
          line-height: 32px;
          text-align: center;
          margin-right: 8px;
        }
        .fee-label-quondam {
          letter-spacing: 5px;
          color: #4d4f51;
          font-size: 12px;
          line-height: 32px;
          text-align: center;
        }
        .fee-quondam {
          margin-left: 5px;
          color: #4d4f51;
          font-size: 12px;
          line-height: 32px;
          text-align: center;
          text-decoration: line-through;
        }
        .rate-describe {
          color: #ee4634;
          font-size: 12px;
          line-height: 32px;
          text-align: center;
        }
      }
    }
    .bottom-fun-contianer {
      height: 50px;
      background: #fff;
      // position: fixed;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .select {
        width: 18.7%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .imgPic {
          width: 100%;
          text-align: center;
          line-height: 20px;
          .img {
            width: 19px;
            height: 13px;
          }
        }

        .text {
          font-size: 12px;
          line-height: 17px;
          color: #909090;
          text-align: center;
        }
      }
      .investFixed {
        color: #1c82de;
        font-size: 16px;
        font-weight: 400;
        width: 31.5%;
        border-left: 1px solid #eeeeee;
        height: 50px;
        text-align: center;
        line-height: 50px;
      }
      .output-btn {
        background-color: #1c82de;
        // width: 53% !important;
        flex: 1;
        text-align: center;
        height: 100%;
        // line-height: 50px;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
          width: 34%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-left: 16px;
          text-align: left;
        }
      }

      //客服样式
      .tel {
        text-align: center;
        width: 25%;
        text-decoration: 'none';
        border-right: 1px solid #e6e6e6;
        display: flex;
        align-items: center;
        justify-content: center;
        &,
        &:link,
        &:hover,
        &:visited,
        &:active {
          color: #909090;
          text-decoration: none;
        }
        .txt {
          font-size: 12px;
          // line-height: 50px;
          text-decoration: 'none';
          color: #909090;
        }
        .img {
          width: 14px;
          height: 14px;
          margin-right: 5px;
          vertical-align: middle;
        }
      }

      .fund-btn {
        height: 44px;
        line-height: 44px;
        color: #3378dd;
        font-size: 12px;
        text-decoration: underline;
        text-align: center;
      }
    }
  }

  .opinion {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    padding: 14px 16px;
    font-size: 14px;
    .pic-box {
      width: 16%;
      text-align: center;
      .opinion-1 {
        height: 21px;
        margin-top: 2px;
      }
    }
    .opinion-2 {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      color: #666;
      width: 84%;
      .opinion-3 {
        color: #666;
        font-size: 14px;
        margin-bottom: 4px;
      }
      span {
        font-size: 12px;
      }
      .open-btn {
        color: #1c82de;
        text-decoration: underline;
      }
    }
  }

  .line-box {
    height: 44px;
    line-height: 44px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    color: #909090;
    font-size: 14px;
    padding: 0 14px 0 0;
    margin-left: 15px;
    border-bottom: 1px solid rgba(230, 230, 230, 0.5);
    font-weight: 400;
    font-family: PingFangSC-Regular;
    .line-box-span {
      color: #4d4f51;
    }
    span {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
    }
    img {
      width: 8px;
      height: 13px;
      margin-left: 10px;
    }
  }
  .no-data {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin-top: 40px;

    img {
      width: 125px;
      height: 117px;
    }

    span {
      margin-top: 30px;
      color: #909090;
      font-size: 15px;
    }
  }

  .question-list {
    li {
      p {
        position: relative;
        padding-left: 24px;
        span {
          width: 14px;
          height: 14px;
          line-height: 12px;
          background: #1c82de;
          font-size: 12px;
          color: #fff;
          text-align: center;
          border: 1px solid #1c82de;
          border-radius: 3px;
          display: inline-block;
          margin-right: 8px;
          position: absolute;
          left: 0px;
          margin-top: 3px;
          font-weight: 500;
        }
        .inverse {
          background: #fff;
          border: 1px solid #1c82de;
          color: #1c82de;
          position: absolute;
          left: 0px;
          font-weight: 500;
        }
      }
      .ellipsis-3 {
        /*设置中文英文对齐*/
        text-align: justify;
        word-break: break-all;
        height: 57px;
        overflow: hidden;
        position: relative;
      }
      .ellipsis {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 27px;
        color: #3f3f3f;
        font-weight: 300;
        text-align: right;
        background-color: #ffffff;
      }
      .gradients {
        background: -webkit-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        ); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(
          right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        ); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(
          right,
          rgba(224, 61, 61, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        ); /* Firefox 3.6 - 15 */
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        ); /* 标准的语法 */
        position: absolute;
        right: 27px;
        bottom: 0px;
        width: 13px;
        height: 19px;
      }

      .ellipsis_hide {
        display: none;
      }
      .ellipsis-0 {
        text-align: justify;
        word-break: break-all;
      }
    }
  }

  .no-data-list {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin-top: 10px;

    img {
      width: 125px;
      height: 117px;
    }

    span {
      margin-top: 10px;
      color: #909090;
      font-size: 15px;
    }
  }

  .announce-list {
    padding-left: 15px;
    .item-p {
      height: 66px;
      line-height: 66px;
      border-bottom: 1px solid #e6e6e6;
      font-weight: 400;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      align-items: center;
      -webkit-align-items: center;
      width: 100%;
      span {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
      }
      .left-span {
        width: 18%;
        display: inline-block;
        font-size: 12px;
        color: #4d4f51;
      }
      .right-span {
        width: 82%;
        padding-right: 15px;
        padding-left: 16px;
        line-height: 17px;
        font-size: 12px;
        margin-top: 16px;
        margin-bottom: 16px;
        color: #4d4f51;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      .signline {
        line-height: 34px;
      }
    }

    .txt-more {
      line-height: 40px;
      text-align: center;
      font-size: 12px;
      color: #1c82de;
    }
  }

  .dividend-list {
    border-top: 1px solid #e6e6e6;
    .item-p {
      height: 66px;
      border-bottom: 1px solid #e6e6e6;
      font-size: 12px;
      color: #909090;
      margin-left: 15px;

      .valueSpan {
        width: 70%;
        display: inline-block;
        font-size: 13px;
        color: #4d4f51;
        padding-top: 9px;
      }

      .exRightDateSpan {
        width: 50%;
        display: inline-block;
        float: left;
      }

      .executeDateSpan {
        width: 50%;
        display: inline-block;
        padding-right: 25px;
        float: right;
      }
    }

    .item-p-bottom {
      border-bottom: 1px solid #e6e6e6;
      margin-left: 0px;
      .valueSpan {
        padding-left: 15px;
      }
      .exRightDateSpan {
        padding-left: 15px;
      }
      .executeDateSpan {
        padding-left: 8px;
      }
    }
    .zcDiv {
      width: 25%;
      // margin-left: 5px;
      text-align: center;
    }
    .zbDiv {
      width: 22%;
      text-align: right;
      padding-right: 15px;
      // margin-left: 5px;
    }
  }

  .txt-more {
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #1c82de;
  }
}

.fund_info_title {
  font-size: 14px;
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  color: #000000;

  font-weight: 400;
}

.table-tr {
  height: 30px;
  line-height: 30px;
  background-color: #f3f4f7;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: #999999;
  text-align: center;
  font-weight: 400;

  div {
    width: 25%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
    text-align: left;
  }
  .fundDiv {
    width: 25%;
    padding-left: 16px;
  }
  .codeDiv {
    width: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }
  .zcDiv {
    width: 33%;
    text-align: center;
  }
  .zbDiv {
    width: 22%;
    text-align: center;
  }
}

.table-trs {
  //height: 30px;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: #4c4c4c;
  text-align: center;
  font-weight: 400;

  div {
    width: 25%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
    text-align: left;
  }

  .fundDiv {
    width: 25%;
    padding-left: 16px;
  }
  .fundNameDiv {
    width: 21%;
  }
  .codeDiv {
    width: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }
  .zcDiv {
    width: 33%;
    text-align: center;
  }
  .zbDiv {
    width: 22%;
    text-align: center;
  }
}
