.advDetail {
  .advTitle {
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    font-weight: 300;
  }
  .advData {
    margin-left: 15px;
    margin-right: 15px;
    color: #4d4f51;
    font-size: 12px;
  }
  .bigBoxs {
    width: 100%;
    pre {
      white-space: pre-wrap; /*css-3*/
      white-space: -moz-pre-wrap; /*Mozilla,since1999*/
      white-space: -pre-wrap; /*Opera4-6*/
      white-space: -o-pre-wrap; /*Opera7*/
      word-wrap: break-word; /*InternetExplorer5.5+*/
      font-size: 12px;
      background: #fff;
      border: none;
    }
  }
}
