@import './common/mixin.scss';
.groupBuyDetail {
  .self-rightTitle {
    line-height: 44px;
    font-size: 16px;
    color: #979797;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 14px;
    padding-left: 14px;
  }

  .detail-title {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    color: #4d4f51;
    font-size: 14px;

    .item {
      height: 44px;
      line-height: 44px;
      font-weight: 400;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-between;
      -webkit-justify-content: space-between;
    }

    .line1 {
      position: relative;
    }
    .line1:before {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 1px;
      border-top: 1px solid #e6e6e6;
      color: #e6e6e6;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
  .stage-map {
    padding: 30px 0 20px 0px;
    background: #fff;
    .cancelOrdel {
      .picName {
        width: 100%;
        img {
          display: block;
          width: 53px;
          height: 57px;
          margin: 0 auto;
        }
      }
      .purchse {
        width: 100%;
        text-align: center;
        font-size: 15px;
        color: #4d4f51;
        margin-bottom: 10px;
        font-weight: 400;
      }
      .purWord {
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: #909090;
        font-weight: 400;
      }
    }

    .stage-1,
    .stage-2,
    .stage-3 {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      align-items: baseline;
      -webkit-align-items: baseline;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 10px;
        top: 8px;
        bottom: 0;
        width: 1px;
        margin-left: -0.5px;
        background: #c8c8c8;
      }

      .step {
        width: 20px;
        height: 20px;
        line-height: 18px;
        text-align: center;
        border: 1px solid #c8c8c8;
        background: #fff;
        border-radius: 50%;
        margin-right: 30px;
        position: relative;
        z-index: 1;
        img {
          width: 12px;
        }
      }

      .text {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        ._span {
          color: #4d4f51;
          font-size: 16px;
          font-weight: 400;
        }
        .ing {
          color: #1c82de;
        }
        ._em {
          color: #c8c8c8;
          font-size: 12px;
          font-weight: 400;
          display: table-cell;
        }
      }
    }

    .buy-stage-1,
    .buy-stage-2,
    .ing-stage-2,
    .fail-stage-2,
    .buy-stage-3,
    .buy-stage-4 {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      align-items: baseline;
      -webkit-align-items: baseline;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 10px;
        top: 8px;
        bottom: 0;
        width: 1px;
        margin-left: -0.5px;
        background: #c8c8c8;
      }

      .step {
        width: 20px;
        height: 20px;
        line-height: 18px;
        text-align: center;
        border: 1px solid #c8c8c8;
        background: #fff;
        border-radius: 50%;
        margin-right: 30px;
        position: relative;
        z-index: 1;
        img {
          width: 12px;
        }
      }

      .text {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        ._span {
          color: #4d4f51;
          font-size: 16px;
          font-weight: 400;
        }
        .ing {
          color: #1c82de;
        }

        .fail {
          color: #fa5e4a;
        }
        ._em {
          color: #c8c8c8;
          font-size: 12px;
          font-weight: 400;
          display: table-cell;
        }
      }
    }
    .active {
      &:after {
        background: #1c82de;
      }
      .step {
        background: #1c82de;
        border: 1px solid #1c82de;
      }
      .text {
        span {
          color: #1c82de;
          display: inherit;
        }
        em {
          color: #1c82de;
        }
      }
    }

    .ing-stage-2 {
      padding-top: 26px;
      &:after {
        top: 0;
      }
      .step {
        img {
          width: 6px;
        }
      }
    }

    .fail-stage-2 {
      padding-top: 26px;
      &:after {
        top: 0;
        bottom: 26px;
      }
      .step {
        img {
          width: 10px;
        }
      }
    }

    .buy-stage-2 {
      padding-top: 26px;
      &:after {
        top: 0;
      }
      .step {
        img {
          width: 12px;
        }
      }
    }

    .buy-stage-3 {
      padding-top: 36px;
      &:after {
        top: 0;
      }
      .step {
        img {
          width: 10px;
        }
      }
    }

    .buy-stage-4 {
      padding-top: 26px;
      &:after {
        top: 0;
        bottom: 48px;
      }
      .step {
        img {
          width: 8px;
        }
      }
    }

    .stage-2 {
      padding-top: 26px;
      &:after {
        top: 0;
      }
      .step {
        img {
          width: 10px;
        }
      }
    }

    .stage-3 {
      padding-top: 26px;
      &:after {
        top: 0;
        bottom: 48px;
      }
      .step {
        img {
          width: 8px;
        }
      }
    }

    .mess {
      // padding: 10px;
      font-size: 14px;
      color: #4a4a4a;
    }
  }
  .from-title {
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #909090;
    .small-size {
      font-size: 12px;
    }
  }

  .from-line {
    height: 44px;
    // line-height: 44px;
    line-height: 20px;
    font-size: 14px;
    color: #4d4f51;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    border-top: 1px solid #e6e6e6;
    background: #fff;
  }
  .list-1,
  .list-2,
  .list-3,
  .list-4 {
    font-size: 14px;
    // line-height: 44px;
    @include text-Ellipsis(2);
    text-align: left;
  }
  .list-1 {
    width: 25%;
    padding-left: 10px;
  }
  .list-2,
  .list-3 {
    // width: 20%;
    flex: 1;
  }
  .list-4 {
    width: 15%;
  }
  .text-right {
    text-align: right;
  }
  .red {
    color: #fa5e4a;
  }
  .success-mess {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    color: #9392ff;
    border-top: 1px solid #9392ff;
    border-bottom: 1px solid #9392ff;
    background: #f0f0ff;
    margin-bottom: 20px;
  }
  .fail-mess {
    margin-top: 20px;
    line-height: 20px;
    padding: 8px 10px;
    font-size: 13px;
    text-align: justify;
    color: #fff;
    background: #c8c8c8;
    margin-bottom: 20px;
    .identityInformation {
      color: #3378dd;
      text-decoration: underline;
    }
  }
  .no-bootom {
    margin-bottom: 0px;
  }
  .problem-fail {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-decoration: underline;
    text-align: center;
    color: #979797;
  }
  .alert-mess {
    line-height: 30px;
    padding: 0 20px;
    color: #979797;
  }
  .p-text {
    font-size: 12px;
    color: #999;
    text-align: center;
  }
  .go {
    height: 40px;
    line-height: 40px;
    background: #1c82de;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 17px;
    width: 100%;
  }
  .fee {
    height: 30px;
    line-height: 30px;
    background: #f0f6ff;
    color: #3378dd;
    font-size: 12px;
    text-align: center;
  }

  .line10 {
    height: 10px;
  }
  .groupName {
    padding: 10px;
  }
}
