.news-detail {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 23px;
  .title-txt {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 9px;
  }
  .news-info {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 15px;
    .span-info {
      color: #909090;
      font-size: 12px;
      line-height: 17px;
      font-weight: 400;
    }
    .label-back {
      border-radius: 2px;
      border: 1px solid #ee4634;
      padding-left: 7px;
      padding-right: 7px;
      padding-top: 1px;
      padding-bottom: 1px;
      color: #ee4634;
      font-size: 12px;
      margin-right: 10px;
      line-height: 17px;
      font-weight: 400;
    }
  }
  .bigBoxs {
    width: 100%;
    pre {
      margin-top: 15px;
      color: #4d4f51;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 15px;
      white-space: pre-wrap; /*css-3*/
      white-space: -moz-pre-wrap; /*Mozilla,since1999*/
      white-space: -pre-wrap; /*Opera4-6*/
      white-space: -o-pre-wrap; /*Opera7*/
      word-wrap: break-word; /*InternetExplorer5.5+*/
      background: #fff;
      border: none;
      letter-spacing: 1px;
      font-weight: 400;
      padding-left: 0px;
      padding-right: 0px;
      font-family: PingFangSC-Regular;
      text-indent: 30px;
      word-break: break-all;
    }
  }
}
