.notCurrencyhistory {
  .hTable {
    width: 100%;
    font-weight: 400;
    .hTh,
    .hTd {
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      font-size: 12px;
      color: #909090;
      text-align: center;
      height: 30px;
      align-items: center;
      -webkit-align-items: center;
      border-bottom: 1px solid #e6e6e6;
      background-color: #ffffff;
      span {
        flex: 1;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
      }
    }
    .hTh {
      position: fixed;
      top: 44px;
      width: 100%;
    }
    .hTd {
      color: #4d4f51;
      .red {
        color: #ee4634;
      }
      .green {
        color: #00d348;
      }
    }
    .interval {
      height: 30px;
    }
    .more {
      text-align: center;
      font-size: 12px;
      color: #1c82de;
      padding: 14px 0 13px 0;
      background-color: #ffffff;
      border-bottom: 1px solid #e6e6e6;
    }
  }
  .no-data {
    width: 100%;
    text-align: center;
    margin-top: 140px;

    img {
      width: 125px;
      height: 117px;
    }

    span {
      display: block;
      margin-top: 30px;
      color: #909090;
      font-size: 15px;
    }
  }
}
