.list-li {
  font-size: 16px;

  .left-box {
    width: 60%;
    float: left;
  }

  .right-box {
    width: 40%;
    text-align: right;
    float: right;
    margin-top: 10px;
  }

  .list-li-title {
    padding: 10px 18px;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
  }

  ul {
    background: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    display: none;

    li {
      padding: 6px 10px;
      margin: 8px 0;
      background: #efefef;
      overflow: hidden;
      font-size: 14px;
      color: #545454;
    }
  }
}
