.retrievePassword {
  .safeVertical {
    font-size: 18px;
    margin-left: 15px;
    font-weight: 400;
    color: #000;
    line-height: 25px;
    margin-top: 28px;
    margin-bottom: 42px;
  }
  .realNames {
    line-height: 50px;
    height: 50px;
    font-size: 15px;
    color: #030303;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
    input {
      width: 70%;
      border: none;
      padding-left: 10px;
      background: none;
      outline: none;
      color: #909090;
      tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #bfbfbf;
    }
    ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #bfbfbf;
    }
    input:-ms-input-placeholder {
      color: #bfbfbf;
    }
    input::-webkit-input-placeholder {
      color: #bfbfbf;
    }
  }
  .empty0 {
    width: 90%;
    font-size: 12px;
    padding-left: 19px;
    height: 12px;
    color: #fa5e4a;
  }
  .empty1 {
    width: 90%;
    font-size: 12px;
    padding-left: 19px;
    height: 12px;
    color: #fa5e4a;
  }
  .empty2 {
    width: 90%;
    font-size: 12px;
    padding-left: 19px;
    height: 12px;
    color: #fa5e4a;
  }
  .backPwd {
    height: 40px;
    margin-top: 34px;
    margin-left: 15px;
    margin-right: 15px;
    background: #1c82de;
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
  }
}
