.trade-log {
  .top-layout {
    width: 100%;
    position: fixed;
    top: 44px;
    z-index: 10;
    .type-title {
      height: 22px;
      line-height: 22px;
      font-size: 14px;
      color: #fff;
      background: #1c82de;
      padding: 2px 16px;
      box-sizing: content-box;
    }
    .switch-tab {
      .tab {
        height: 44px;
        width: 33.3%;
        border-bottom: 1px solid #e6e6e6;
        color: #000000;
        vertical-align: bottom;
        line-height: 44px;
        font-size: 16px;
        display: inline-block;
        text-align: center;
        background: #fff;
        font-weight: 400;
        position: relative;
      }
      img {
        width: 13px;
        height: 7px;
        position: absolute;
        right: 28px;
        top: 20px;
      }
      .active {
        color: #1c82de;
        border-bottom: 2px solid #1c82de;
        font-weight: 500;
      }
    }
  }
  .top-hide {
    top: 0px;
  }
  .topios-layout {
    top: 64px;
  }
  .topiosx-layout {
    top: 88px;
  }
  .top-height {
    width: 100%;
    height: 44px;
  }
  .new-detail-item {
    background: #fff;
    height: 64px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;

    flex-direction: column;

    justify-content: center;

    .row-layout {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .fund-name {
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        color: #000000;
        flex: 1;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .num {
        line-height: 21px;
        font-size: 15px;
        font-weight: 400;
        .rmb {
          font-size: 14px;
        }
      }
      .small-txt {
        white-space: pre;
        height: 20px;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: #999;
      }

      .time {
        font-size: 13px;
      }
      .fail-color {
        color: #ee4634;
      }
    }
  }
  .detail-item {
    height: 80px;
    background: #fff;
    padding: 0 18px;
    .left {
      float: left;
      padding-top: 10px;
      box-sizing: border-box;
      max-width: 65%;
      .name {
        font-size: 15px;
        color: #4d4f51;
        margin-bottom: 7px;
        font-weight: 400;
        flex: 1;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .num {
        height: 26px;
        line-height: 20px;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 0px;
        .rmb {
          font-size: 14px;
        }
      }
    }
    .right {
      float: right;
      padding-top: 35px;
      box-sizing: border-box;
      .status {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        text-align: right;
      }
      .time {
        font-size: 12px;
        color: #909090;
        line-height: 8px;
      }
    }
  }
  .thin-line {
    position: relative;
  }
  .thin-line:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e6e6e6;
    color: #e6e6e6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .clearfloat:after {
    clear: both;
    overflow: hidden;
    height: 0;
    content: '';
    visibility: hidden;
  }
  .detail-item-sp {
    height: 80px;
    background: #fff;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    box-sizing: border-box;
    .top {
      .name {
        font-size: 15px;
        color: #4d4f51;
        font-weight: 400;
        margin-bottom: 4px;
        max-width: 65%;
        flex: 1;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .status {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        float: right;
        margin-top: -6px;
      }
    }
    .bottom {
      .num-sp {
        font-size: 26px;
        height: 26px;
        line-height: 20px;
        font-weight: 500;
        margin-top: 8px;
        letter-spacing: 0px;
        span {
          font-size: 12px;
          margin-left: 2px;
        }
      }
      .time {
        font-size: 12px;
        color: #909090;
        float: right;
        line-height: 1.5;
        margin-top: -16px;
      }
    }
  }
  .detail-item-sp:after {
    clear: both;
    height: 0;
    visibility: hidden;
    content: '';
    overflow: hidden;
  }
  .green {
    color: #45b18b !important;
  }
  .red {
    color: #ee4634 !important;
  }
  .grey {
    color: #909090 !important;
  }
  .no-data {
    width: 100%;
    text-align: center;
    margin-top: 140px;
    img {
      width: 125px;
      height: 117px;
    }
    span {
      display: block;
      margin-top: 30px;
      color: #909090;
      font-size: 15px;
    }
  }
  .more {
    text-align: center;
    font-size: 14px;
    color: #909090;
    padding: 10px 0;
    background: #fff;
  }
  .classicData {
    width: 100%;
    background: #ffffff;
    .fixedBox {
      position: fixed;
      left: 0;
      // top: 88px;
      left: 0;
      right: 0;
      z-index: 2;
    }
    .firstLie {
      width: 100%;
      background: #ffffff;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e6e6e6;
      font-weight: 400;
      font-size: 16px;
      .purchase {
        display: 33.3%;
        height: 45px;
        width: 33.3%;
        line-height: 45px;
        text-align: center;
      }
      .redeem {
        display: block;
        height: 45px;
        width: 33.3%;
        line-height: 45px;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        text-align: center;
      }
      .bonous {
        display: 33.3%;
        height: 45px;
        width: 33.3%;
        line-height: 45px;
        text-align: center;
      }
    }
  }
  .moreText {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #ffffff;
    font-size: 14px;
  }
}
