.transactionPassword {
  width: 100%;
  .setUp {
    font-size: 18px;
    margin-left: 15px;
    font-weight: 400;
    color: #000;
    line-height: 25px;
    margin-top: 28px;
    margin-bottom: 42px;
  }
  .emptyBox {
    height: 12px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fa5e4a;
    font-size: 12px;
  }
  .ipts2 {
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    input {
      color: none;
      border: none;
      height: 45px;
      flex: 1;
      background: none;
      font-size: 15px;
      outline: none;
      tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .verifyCode {
      float: right;
      line-height: 20px;
      border-left: 1px solid #e6e6e6;
      padding-left: 5px;
    }
    .unfsyzm {
      float: right;
      width: 100px;
      line-height: 20px;
      text-align: center;
      border-left: 1px solid #e6e6e6;
      padding-left: 5px;
      background: #909090;
      color: #fff;
      font-size: 12px;
      padding: 6px 6px;
    }
  }
  .clearfix:after {
    height: 0;
    content: '';
    visibility: hidden;
    clear: both;
    display: block;
  }
  .tipher {
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #e6e6e6;
    .pwd {
      width: 100%;
      border: none;
      height: 45px;
      background: none;
      font-size: 15px;
      outline: none;
      tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }
  .secondTipher {
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #e6e6e6;
    .secondPwd {
      width: 100%;
      border: none;
      height: 45px;
      background: none;
      font-size: 15px;
      outline: none;
      tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bfbfbf;
  }

  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bfbfbf;
  }

  input:-ms-input-placeholder {
    color: #bfbfbf;
  }

  input::-webkit-input-placeholder {
    color: #bfbfbf;
  }

  .errorWord {
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 15px;
    color: #ee4634;
    line-height: 20px;
    font-size: 12px;
  }

  .completes {
    height: 40px;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    line-height: 40px;
    background: #1c82de;
    color: white;
    border-radius: 3px;
  }
}
