.accessToValue .refuse{
        height: 130px;
        line-height: 130px
    }
 .accessToValue   .el-dialog--small{
      width: 40% !important;
      top:11% !important;
    }
  .accessToValue  .fgg .el-dialog__body{
      height:300px;
      overflow-y: auto;
    }

  .accessToValue  .fgg .borrowerInfTd{
      text-align: right !important;
    }
