/* nav */
/* body{
    min-width: 1400px
} */
.allNav{
    position: fixed;
    left: 0;
    top:0;
    height: 100%;
    width:200px;
    overflow-y: auto;
    background-color:#324157;
    float: left;
    z-index: 1;
}




.allNav>nav{
    width:100%;
}

/* 右侧所有 */
/* 页面顶部title */
.tittleWrap{
    background: #1c2a3b;
}
.allRight{
    margin-left: 200px;
}
.allTitle{
    height: 30px;
    padding:10px 0;
    width: 95%;
    /* max-width: 2000px; */
    margin: 0 auto;
    position: relative
}
.allTitle>img{
    height: 30px;
    margin-left:10px;
    margin-right:10px;
    vertical-align:middle;
}
.allTitle>span{
    color: #eef1f6;
    font-size: 26px;
    vertical-align:middle;
}
/* 控制导航栏的按钮 */
.allTitle>.showNavBtn{
    position: absolute;
    left: -10px;
    display: none
}
/* 返回主页按钮 */
.allTitle>.goHomePage{
    float: right;
    height: 30px;
    width:35px;
    background: url('./../assets/goBack.png') no-repeat center;
    background-size: 35px 35px;
    cursor: pointer;
}
.allTitle>.goHomePage:hover{
    background: url('./../assets/goBack_h.png') no-repeat center;
    background-size: 35px 35px;
}
/* 视图 */
.view{
    background:#fff;

}
.red{
    display: block;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 10px;
    position:absolute;
    z-index: 10;
}
.positi{
   position: relative;
   top: 0;
}
.el-tabs__content{
   overflow:visible !important;
}
.title{
    top: -40px;
    left:5px;
}
.orderNo{
  line-height: 60px;
  font-weight: 600;
  text-indent: 20px;
}
.person{
   top: -40px;
   left:90px;
}
.pledeg1{
   top: -40px;
   left:193px;
}
.pledeg2{
  top: -40px;
  left:293px;
}
.borrowlink{
   top: -40px;
   left:294px;
}

.title1{
    top: -30px;
    left:5px;
}
.person1{
   top: -30px;
   left:90px;
}
.pledeg11{
   top: -30px;
   left:193px;
}
.borrowlink1{
   top: -30px;
   left:294px;
}

.col_text_right{
  text-align: right;
}


/*滚动条 start*/
.allNav::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    background-color: #F5F5F5;
    opacity: 0.6
}
/*定义滚动条轨道 内阴影+圆角*/
allNav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #fff ;
}
/*定义滑块 内阴影+圆角*/
allNav::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:#f4f4f4;
}
allNav::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:#E4E2E2;
}


