.public{
  padding-top: 40px;
  padding-bottom: 30px;
  width: 95%;
  margin: 0 auto;
}

.public h2{
  font-size: 24px;
  font-weight: 600;
  /* background: red; */
  line-height: 40px;
  border-bottom:2px solid #bbc0d1;
  margin-bottom: 20px;
}
.public h2 .help{
  font-size: 14px;
  font-weight: 500;
  color: #000;
  background-color: #85ceca;
  float: right;
  padding: 5px 8px;
  line-height: 1;
  margin-top: 10px;
  margin-right: 10px;
}
.help{
  float: right;
  font-size: 14px;
  color: #000;
  margin-top: 5px;
  margin-right: 10px;
}
/* 模块下边距 */
.module_margin_bottom{
  margin-bottom: 20px !important
}
/* 面包屑 */
.crumbs{
  margin-bottom: 20px;
  margin-left: -20px;
}
/* 查找按钮宽100%  下边距20 */
.inquireBtn_warp{
  margin-bottom: 20px;
}
.inquireBtn{
  width:100%;
}
/* 条件查找的汉字布局 */
.condition{
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
.condition_space_between{
  margin-bottom: 10px
}
/* 下拉列表inpit宽度 */
.public .select_width{
  width:100% !important;

}
.public .date_width{
  width:100% !important
}
.input_width {
  box-sizing: border-box;
  padding:0 30px;
}
.public .input_width_80 {
  width:80% !important;
  margin:0 auto;
}
.public .input_width_95 {
  width:95% !important;
  margin:0 auto;
}
.public .select_width_80 {
  width:80% !important;
  margin:0 auto;
}

/* 包裹的边框 */
.wz_table_border{
  border: 1px solid #BAC4CF;
}
/* 列表头部的样式
    让图片和文字同行显示 中部对齐
*/
.show_list_title{
  background: #85CECA;
  border-radius: 3px;
  margin-bottom: 10px;
}
.show_list_title span{
  vertical-align:middle;
  color:#1a2739;
  font-size: 16px;
  line-height: 24px;
}
.show_list_title img{
  margin-left: 15px;
  margin-right: 8px;
  height: 18px;
  vertical-align:middle;
}
/* 二级模块 */
.model_2_leave{
  width: 98%;
  margin: 0 auto;
}
/* 二级标题 */
.show_list_title_2{
  background: #ffc973;
  border-radius: 3px;
  margin-bottom: 10px;
}
.show_list_title_2 span{
  vertical-align:middle;
  color:#1a2739;
  font-size: 16px;
  line-height: 24px;
}
.show_list_title_2 span .describe{
  font-size: 14px;
}
.show_list_title_2 img{
  margin-left: 15px;
  margin-right: 8px;
  height: 18px;
  vertical-align:middle;
}
/* 表格头字体剧中加粗 */
thead .cell{
  /*text-align: center;*/
  font-weight: 600;
}
table .cell{
  /*text-align: center;*/
}
.table{
  margin: 0 auto;
  background: #f4f4f4;
  margin-bottom: 20px;
}
/* 分页按钮 */
.pageBtn{
  text-align: center
}
/* 自定义的表格 */
._table{
  border:1px #BAC4CF solid;
  width:100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
._table tr{
  border-bottom: 1px #BAC4CF solid;
}
._table td{
  width: 25%;
  border-right: 1px #BAC4CF solid;
  text-align: center;
  line-height: 40px;
}

._table_25{
  border:1px #BAC4CF solid;
  width:100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
._table_25 tr{
  border-bottom: 1px #BAC4CF solid;
}
._table_25 td{
  width: 12.5%;
  border-right: 1px #BAC4CF solid;
  text-align: center;
  line-height: 40px;
}

.error_title{
  text-align: left !important;;
  color: red;
  font-size: 14px !important;
  text-indent: 1em
}
.textarea{
  width:100%;
  height: 100%;
}
.doNotChange{
  background: #f2f2f2;
}
/* 上传图片的样式 */
.up_load_img_box{
  height: 80%;
}
.up_load_img_box img{
  width:10px !important
}
.borrowerInfTr{
  border-bottom: 1px #BAC4CF solid;
}
.borrowerInfTd{
  border-right: 1px #BAC4CF solid;
  text-align: center;
  min-height: 40px;
  height: auto;
  line-height: 40px;
  font-size: 16px;
}
.importent{
  color: red;
}
.borrowerInfTr:last-child,.borrowerInfTd:last-child{
  border: none;
}


/* textarea 样式 */
.public .ele_textarea{
  height: 54px;
}
.public .aDownload{
  background: #20a0ff;
  padding: 3px;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
.bor_right{
  border-right:1px solid #dfe6ec;
}

.td_h{
  border-right: 1px #BAC4CF solid;
  text-align: center;
  max-height: 40px !important;
  height: 100%;
  font-size: 16px;
}
.bussNo{
  /*font-size: 20px;*/
  width:98%;
  margin: 0 auto;
  text-align: left;
}
.textarea_title{
  height: 90px;
}
#arrows,#arrows2{
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: 100%;
  margin-left:10px;
}
.arrows_button{
  background-image:url("../assets/arrows_button.png");
}
.arrows_top{
  background-image:url("../assets/arrows_top.png");
}
/*操作列表定ga高*/
.table-fixed .el-table__fixed-right {
  height: 100% !important;
}

.font_left{
  text-align: left;
  word-break: break-all;
}

body{
  overflow-y: auto !important;
}
.redtips{
  text-align: left !important;
  color:red;
  text-indent: 1em;
  line-height: 1.5;
}

.bg_title{
  padding: 10px 5px;
  background:#eeeeee;
}
.bg_title h3{
  text-indent: 20px;
  font-weight: 700;
  font-size: 16px;
}
.bg_title p{
  line-height: 30px;
  text-indent: 20px;
  font-size: 14px;
}
.bg_title .el-tooltip__popper{
  width: 400px !important;
}
.tooltip{
  padding: 5px !important;
  border: none !important;
}
.makeConditionNative{
  background-image: url("./../assets/activeG.png");
  background-position: bottom right;
  background-repeat: no-repeat;

}
.make{
  /*border: 1px solid #409eff;*/
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
  margin: 10px 0;
  font-size:16px;
  cursor:pointer ;
}
.make_div{
  border: 1px #ccc solid !important;
  border-radius: 10px;
}
.mackNative{
  border: 1px #409eff solid;
  box-sizing: border-box;
  padding: 10px 0;
  border-radius: 10px;
}

.dataChackSmall{
  margin-left: 10px;
}

.files_item{
  float: left;
  padding: 5px 15px;
}
.margin_top{
  margin-top: 20px;
}
.disabled_fff{
  background: #ffffff !important;
  border: none !important;
}
.current{
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  background: #cccccc;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.current:hover{
  color: #FFFFFF !important;
  background: #20a0ff !important;
}
