.company-alias-info{
  width: 500px;
  margin: 0 auto;
}
.company-alias-info .company-alias-info-title{
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.company-alias-info .company-alias-info-item{
  display: flex;
  padding: 10px 0;
  /*border-bottom: 1px solid #ddd;*/
}
.company-alias-info .company-alias-info-item-title{
  flex: 3;
  text-align: right;
}
.company-alias-info .company-alias-info-item-content{
  flex: 7;
  text-align: left;
  text-indent: 1em;
}
