.tab_p {
  text-align: center;
  margin-top: 13px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  // border-radius: 2px;
  // overflow: hidden;
  // border: 1px solid rgba(144, 144, 144, 1);

  button {
    // width: 68px;
    flex: 1;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid rgba(216, 216, 216, 0.75);
    background: #fff;
    color: #909090;
    font-size: 12px;
    outline: none;
    border-right: none;
  }
  .left_border {
    // border-left: 1px solid #1c82de;
  }

  .left {
    font-size: 12px;
    // border-left: 1px solid #1c82de;
    border-radius: 2px 0 0 2px;
  }

  .right {
    font-size: 12px;
    border-radius: 0 2px 2px 0;
    border-right: 1px solid rgba(216, 216, 216, 0.75);
  }
  .active {
    font-size: 12px;
    border: 1px solid #1c82de;
    color: white;
    font-weight: 500;
    background: #1c82de;
  }
}

.clearF {
  clear: both;
}

//chart图形
.line_box_left,
.line_box_right {
  // width: 55%;
  color: #9a9a9a;
  font-size: 12px;
  // display: inline-block;
}
.line_box_right {
  // width: 45%;
}
.line_box_left span {
  background: #fe3824;
}
.line_box_right span {
  background: #0076ff;
}

.line_box {
  padding: 0 14px;
  margin-top: 15px;
  font-size: 13px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line_box_legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1px;
  }
  .red {
    color: #fe3824;
  }
  .green {
    color: #45b18b;
  }
  .gray {
    color: #4d4f51;
  }
}

.line_box_legend_label {
  // transform: scale(0.7, 0.7);
  display: inline-block;
  // transform: scale(0.8);
  font-size: 11px;
}
.labelMargin {
  margin-left: 9px;
}

.line_date {
  padding: 5px 14px 0 14px;
  color: #9a9a9a;
  font-size: 12px;
}

.groupDes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  .vDesTitle {
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .tvDesTitle {
      height: 17px;
      font-size: 12px;
      font-weight: 400;
      color: rgba(113, 132, 153, 1);
      line-height: 17px;
    }
    .leftLine {
      height: 17px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      margin-right: 6px;
      padding-bottom: 3px;
      padding-top: 3px;
      opacity: 0.15;
      .line1 {
        height: 1px;
        background-color: #718499;
        width: 48px;
      }
      .line2 {
        height: 1px;
        background-color: #718499;
        width: 28px;
      }
      .line3 {
        height: 1px;
        background-color: #718499;
        width: 12px;
      }
    }

    .rightLine {
      height: 17px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 6px;
      opacity: 0.15;
      padding-bottom: 3px;
      padding-top: 3px;
      .line1 {
        height: 1px;
        background-color: #718499;
        width: 48px;
      }
      .line2 {
        height: 1px;
        background-color: #718499;
        width: 28px;
      }
      .line3 {
        height: 1px;
        background-color: #718499;
        width: 12px;
      }
    }
  }

  .vKey {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 19px;
    padding-left: 15px;
    padding-right: 15px;
    .vKeyValue {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .tvValue {
        height: 20px;
        font-size: 14px;

        color: rgba(77, 79, 81, 1);
        line-height: 20px;
      }

      .vKeyDes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
        .ivHelp {
          width: 11px;
          height: 11px;
          margin-left: 4px;
        }
        .tvText {
          height: 16px;
          font-size: 11px;

          color: rgba(144, 144, 144, 1);
          line-height: 16px;
        }
      }
    }
  }
}

.tipinfo {
  float: left;
  position: absolute;
  margin-top: 10px;
  z-index: 200;
  height: 30px;
  width: 100%;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.line_tips_box {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
  height: 30px;
  line-height: 30px;
}

.vline_date {
  color: #030303;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  height: 30px;
  line-height: 30px;
  background-color: #f3faff;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  .line_date_span {
    // flex: 1;
    padding-left: 8px;
    padding-right: 8px;
  }
  .line_date_span_r {
    text-align: right;
    .sy_red {
      color: #ee4634;
      font-size: 12px;
      padding-left: 5px;
    }
    .sy_green {
      color: #00d348;
      padding-left: 5px;
    }
    .sy_grey {
      color: #4d4f51;
    }
  }
}

.line_time_date {
  margin: 5px 14px 0 14px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .sy_red {
    color: #ee4634;
    font-size: 12px;
    padding-left: 5px;
  }
  .sy_green {
    color: #00d348;
    padding-left: 5px;
  }
}
