.main-ui {
  //background-color: #fafafa;
  .rule-text {
    margin: 0 15px;
    padding-top: 9px;
    padding-bottom: 15px;
    overflow: hidden;
  }
  .r10pxline {
    height: 10px;
    width: 100%;
    background: #cedcec;
    opacity: 0.25;
    content: '';
  }

  .person-post {
    padding-bottom: 60px;
    background: #ffffff;
  }

  .chartDiv {
    margin-top: 26px;
    height: 400px;
    margin-left: 16px;
    margin-right: 16px;
    background: red;
  }

  .panelName {
    padding-left: 16px;
    font-size: 18px;
    color: #030303;
    font-weight: 600;
    line-height: 44px;
  }
  .panelNames {
    padding-left: 16px;
    font-size: 18px;
    color: #030303;
    font-weight: 600;
    line-height: 44px;
    border-bottom: 1px solid #eeeeee;
  }
  .earingProbability {
    height: 212px;
    .holdingYears {
      display: flex;
      flex-direction: row;
      height: 28px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 14px;
      color: #909090;

      .threeMon {
        height: 28px;
        border: 1px solid rgba(216, 216, 216, 0.75);
        font-size: 11px;
        line-height: 28px;
        text-align: center;
        border-right: none;
        width: 35%;
        color: #909090;
      }

      .threeMons {
        height: 28px;
        border: 1px solid rgba(216, 216, 216, 0.75);
        font-size: 11px;
        line-height: 12px;
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 2px 2px 0;
      }
      .threeMoned {
        height: 28px;
        border: 1px solid rgba(216, 216, 216, 0.75);
        font-size: 11px;
        line-height: 28px;
        text-align: center;
        border-right: none;
        width: 35%;
        color: #909090;
        border-radius: 2px 0 0 2px;
      }
      .active {
        height: 28px;
        background: #1c82de;
        font-size: 11px;
        color: #ffffff;
        line-height: 28px;
        border: 1px solid #1c82de;
      }
      .threeMoned {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      .threeMoneds {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      .rightLine {
        border-right: none;
      }
      .twoYear {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
    .tableBox {
      height: 74px;
      // background: pink;
      margin-top: 30px;
      margin-bottom: 23px;
      margin-left: 15px;
      margin-right: 15px;
      border: 1px solid rgba(216, 216, 216, 0.75);
      .content {
        // width: 20%;
        height: 37px;
        border-bottom: 1px solid rgba(216, 216, 216, 0.75);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .contentBox {
          width: 20%;
          text-align: center;
          .profit {
            margin-top: 5px;
            line-height: 11px;
            color: #fe3824;
            font-size: 10px;
          }
          .profits {
            margin-top: 5px;
            line-height: 11px;
            color: #45b18b;
            font-size: 10px;
          }
          .percentSign {
            color: #fe3824;
            font-size: 10px;
            line-height: 20px;
          }
          .percentSigns {
            line-height: 20px;
            color: #45b18b;
            font-size: 10px;
          }
        }
        .rightLine {
          height: 22px;
          width: 1px;
          background: rgba(216, 216, 216, 0.75);
        }
      }
      .bottomBox {
        flex-direction: row;
        display: flex;
        align-items: center;
        .percentData {
          font-size: 12px;
          line-height: 37px;
          width: 20%;
          text-align: center;
        }
        .rightLine1 {
          height: 22px;
          width: 1px;
          background: rgba(216, 216, 216, 0.75);
        }
      }
    }
    .describe {
      // padding-left: 16px;
      // padding-right: 16px;
      color: #718499;
      font-size: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #f2f7fe;
      padding: 10px;
    }
  }
  .tab-list {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    height: 25px;
    margin: 0px 16px;
    border: 1px solid #eeeeee;
    margin-top: 20px;
    div {
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 14px;
      color: #718499;
      border-bottom: 1px solid transparent;
    }
    .active {
      background: #718499;
      color: #ffffff;
    }
  }

  .profitTips {
    background-color: #f2f7fe;
    font-size: 10px;
    color: #718499;
    margin: 10px 15px 0px;

    padding: 10px;
  }

  .redColor {
    color: red;
  }

  //该组合赚钱概率 部分样式
  .count-text {
    margin: 0 16px 10px 16px;
    font-size: 12px;
    color: #666;
  }

  //赚钱概率表格
  .count-table {
    margin: 0 16px 10px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .li {
      width: 20%;
      font-size: 12px;
      text-align: center;

      .top-0 {
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 5px 0;
        border: 1px solid #fe3824;
        border-right: none;
        height: 48px;
        span {
          height: 18px;
        }
      }

      .top-1 {
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 5px 0;
        border-top: 1px solid #fe3824;
        border-bottom: 1px solid #fe3824;
        height: 48px;
        span {
          height: 18px;
          border-left: 1px solid #fe3824;
          border-right: 1px solid #fe3824;
        }
      }
      .top-2 {
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 5px 0;
        border: 1px solid #fe3824;
        border-left: none;
        height: 48px;
        span {
          height: 18px;
        }
      }
      .top-3 {
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 5px 0;
        border-top: 1px solid #45b18b;
        border-bottom: 1px solid #45b18b;
        height: 48px;
        span {
          height: 18px;
        }
      }
      .top-4 {
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 5px 0;
        border: 1px solid #45b18b;
        border-left: none;
        height: 48px;
        span {
          height: 18px;
          border-left: 1px solid #45b18b;
        }
      }
      .bottom {
        height: 34px;
        line-height: 34px;
      }
    }
  }

  //当前配置比例
  .count-list-place {
    margin-bottom: 25px;

    .count-detail-line {
      width: 100%;
      height: 54px;
      margin-bottom: 1px;
      padding: 0 16px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .k-v {
        width: 100%;
        padding-right: 12px;
        height: 54px;
        line-height: 54px;
        color: #4a4a4a;
        display: flex;
        flex-direction: row;

        justify-content: space-between;

        .tag-box {
          margin-left: 8px;
          margin-right: 8px;
          padding: 0 4px;
          background: rgba(235, 246, 255, 0.36);
          border: 1px solid rgba(154, 159, 253, 0.36);
          color: #0067ff;
          border-radius: 0 8px;
          font-size: 12px;
          height: 18px;
          line-height: 16px;
        }

        .left {
          font-size: 14px;
          color: #4a4a4a;
          display: flex;
          max-width: 70%;
          align-items: center;
          span {
            display: inline-block;
            max-width: 215px;
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          img {
            margin-left: 8px;
            width: 19px;
            height: 12px;
          }
        }

        .right {
          font-size: 14px;
        }
      }

      .void-line {
        // margin-right: 20px;
        height: 2px;
        background: #eee;

        .display-line {
          background: #3378dd;
          height: 2px;
          width: 50%;
        }
      }
    }

    .count-info-title {
      padding: 0 16px;
      height: 44px;
      line-height: 44px;
      font-size: 12px;
      color: #4c4c4c;
      font-weight: 400;
      border-bottom: 1px solid rgba(238, 238, 238, 0.5);
      border-left: none;
      border-right: none;

      span {
        font-weight: 600;
      }
    }

    .count-info-title-min {
      height: 34px;
      line-height: 34px;
      text-align: center;
      font-size: 12px;
      color: #797979;
      border-bottom: 0.5px dashed #cacaca;

      b {
        color: #797979;
      }
    }

    .count-info-ratio {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px 20px;

      .li {
        width: 25%;
        color: #4c4c4c;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        span {
          width: 8px;
          height: 8px;
          margin-right: 8px;
          border-radius: 50%;
          display: inline-block;
        }

        div {
          display: flex;
          flex-direction: column;
          em {
            height: 14px;
            line-height: 14px;
          }
        }
      }
    }

    .table-tr {
      height: 30px;
      line-height: 30px;
      display: flex;
      flex-direction: row;
      font-size: 12px;
      color: #4c4c4c;
      text-align: center;

      div {
        width: 34%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 16px;
        text-align: left;
      }
    }

    .fund-btn {
      height: 30px;
      color: #3378dd;
      font-size: 12px;
      text-decoration: underline;
      text-align: center;
    }
  }
  .pepolCrowd {
    // padding-left: 16px;
    // padding-right: 16px;
    .topTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 44px;
      border-bottom: 1px solid #eeeeee;
      .leftName {
        font-size: 18px;
        color: #030303;
        font-weight: 600;
        padding-left: 16px;
        span {
          font-weight: 300;
        }
      }
      .rightName {
        font-size: 11px;
        color: #909090;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 16px;
        img {
          width: 6px;
          height: 11px;
          margin-left: 8px;
        }
      }
    }
    .contentText {
      font-size: 12px;
      padding-bottom: 10px;
      line-height: 20px;
      color: #909090;
      padding-left: 16px;
      padding-right: 16px;
      .adjustmentReason {
        display: block;
        color: #718499;
        font-weight: 600;
        line-height: 40px;
        font-size: 13px;
      }
    }
  }
  //小标题样式
  .count-list-title {
    font-size: 13px;
    color: #4c4c4c;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left {
      // float: left;
    }
    .right {
      // float: right;
      font-size: 11px;
      line-height: 44px;
      padding-right: 16px;
      color: #909090;
      img {
        width: 6px;
        height: 11px;
        margin-left: 8px;
      }
    }
  }
  .shareProportion {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    color: #909090;
    font-size: 11px;
    border-bottom: 1px solid #f5f5f5;
    padding-right: 15px;
    padding-left: 15px;
  }

  //近期调仓说明
  .text-box {
    font-size: 14px;
    margin: 10px 16px;
    color: #999;
  }

  //查看交易详情和费率
  .more-link {
    display: block;
    text-align: center;
    padding: 10px 0 24px 0;
    font-size: 12px;
    color: #5694f0;
    text-decoration: underline;
  }

  /*
  常见问题列表
  */
  .question-list {
    li {
      p {
        position: relative;
        padding-left: 24px;
        span {
          width: 14px;
          height: 14px;
          line-height: 12px;
          background: #1c82de;
          font-size: 12px;
          color: #fff;
          text-align: center;
          border: 1px solid #1c82de;
          border-radius: 3px;
          display: inline-block;
          margin-right: 8px;
          position: absolute;
          left: 0px;
          margin-top: 3px;
          font-weight: 500;
        }
        .inverse {
          background: #fff;
          border: 1px solid #1c82de;
          color: #1c82de;
          position: absolute;
          left: 0px;
          font-weight: 500;
        }
      }
      .ellipsis-3 {
        /*设置中文英文对齐*/
        text-align: justify;
        word-break: break-all;
        height: 57px;
        overflow: hidden;
        position: relative;
      }
      .ellipsis {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 27px;
        color: #3f3f3f;
        font-weight: 300;
        text-align: right;
        background-color: #ffffff;
      }
      .gradients {
        background: -webkit-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        ); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(
          right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        ); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(
          right,
          rgba(224, 61, 61, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        ); /* Firefox 3.6 - 15 */
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        ); /* 标准的语法 */
        position: absolute;
        right: 27px;
        bottom: 0px;
        width: 13px;
        height: 19px;
      }

      .ellipsis_hide {
        display: none;
      }
      .ellipsis-0 {
        text-align: justify;
        word-break: break-all;
      }
    }
  }

  //音频控件
  .voiceDiv {
    margin: 10px 16px;

    .audioBox {
      height: 46px;
      width: '100%';
      padding: '0px 0px 0px 0px';
      overflow: 'hidden';
      background: #f2f7fe;
    }
    .audioControl {
      // float: left;
      margin-left: 10px;
      height: 46px;
      line-height: 46px;
    }
    .audioTxt {
      // float: left;
      height: 46px;
      margin-left: 16px;
      font-weight: bold;
    }
    .audioName {
      clear: both;
      margin-top: 10px;
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 4px;
    }

    .audiotime {
      clear: both;
      font-size: 12px;
      line-height: 12px;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }
    .auido-photos {
      // float: left;
      cursor: pointer;
      height: 46px;
    }
    .auido-photos img {
      margin-top: 7px;
    }
  }

  //策略图文详情
  .clDiv {
    height: 100px;
    margin: 10px 16px;

    .clImg {
      height: 100%;
      width: 100%;
    }
  }

  //投友故事栏目标题
  .storySpan {
    color: #a3b6cd;
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #a3b6cd;
  }

  //投友故事列表
  .storyList {
    margin: 5px 16px;
    height: 100%;

    .stoLi {
      margin-bottom: 15px;
    }

    .stoTitle {
      color: #505866;
      font-size: 14px;
      font-weight: 600;
    }

    .stoContent {
      color: #a3b6cd;
      font-size: 12px;
      line-height: 16px;
      width: 80%;
      // float: left;
    }

    .stoImg {
      width: 54px;
      height: 54px;
      position: absolute;
      right: 16px;

      img {
        height: 54px;
        width: 54px;
      }
    }

    .stoAuthor {
      clear: both;
      margin-top: 5px;
      font-size: 12px;
      color: #a3b6cd;
      width: 80%;

      span {
        margin-left: 6px;
      }

      img {
        top: 2px;
        position: relative;
      }
    }
  }

  .bottom-contianer {
    position: fixed;
    bottom: 0;
    width: 100%;
    .bottom-buy-info {
      height: 32px;
      background: #fff;
      box-shadow: 0px 1px 0px 0px rgba(232, 232, 232, 1);

      border-bottom: 1px solid #e6e6e6;

      .fee-rate {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        background: #f3f9ff;

        .fee-label {
          color: #4d4f51;
          font-size: 11px;
        }
        .fee-label-quondam {
          letter-spacing: 5px;
          color: #4d4f51;
          font-size: 12px;
          line-height: 32px;
          text-align: center;
        }
        .fee-quondam {
          color: #4d4f51;
          font-size: 11px;
          margin-left: 5px;
          text-decoration: line-through;
        }
        .rate-describe {
          color: #ee4634;
          font-size: 11px;
          line-height: 32px;
        }
        .noManagement {
          color: #4d4f51;
          font-size: 11px;
        }
      }
    }
    .bottom-fun-contianer {
      height: 50px;
      background: #fff;
      // position: fixed;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .select {
        width: 25%;
        // display: flex;
        flex-direction: row;

        align-items: center;

        justify-content: center;
        .img {
          width: 19px;
          height: 13px;
          vertical-align: middle;
        }

        .text {
          font-size: 12px;
          // line-height: 50px;
          color: #909090;
          margin-left: 5px;
        }
      }

      .output-btn {
        background-color: #1c82de;
        // width: 53% !important;
        flex: 1;
        text-align: center;
        height: 100%;
        // line-height: 50px;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
          width: 34%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-left: 16px;
          text-align: left;
        }
      }

      //客服样式
      .tel {
        text-align: center;
        width: 25%;
        text-decoration: 'none';
        border-right: 1px solid #e6e6e6;
        display: flex;
        align-items: center;
        justify-content: center;
        &,
        &:link,
        &:hover,
        &:visited,
        &:active {
          color: #909090;
          text-decoration: none;
        }
        .txt {
          font-size: 12px;
          // line-height: 50px;
          text-decoration: 'none';
          color: #909090;
        }
        .img {
          width: 14px;
          height: 14px;
          margin-right: 5px;
          vertical-align: middle;
        }
      }

      .fund-btn {
        height: 44px;
        line-height: 44px;
        color: #3378dd;
        font-size: 12px;
        text-decoration: underline;
        text-align: center;
      }
    }
  }
}

.input-output-container1 {
  color: #fff;
  font-size: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;

  .input-btn,
  .output-btn,
  .input-btn1 {
    // float: left;
    height: 44px;
    line-height: 44px;
    text-align: center;
  }
  .input-btn {
    background-color: #fff;
    width: 45%;
    border-right: 1px solid #eee;
  }

  .input-btn1 {
    background-color: #fff;
    width: 30%;
    color: #0076ff;
    font-size: 17px;
  }
  .output-btn {
    width: 55%;
    background-color: #0076ff;
  }
}

.bottom-text {
  overflow: hidden;
  padding: 18px 16px 0 16px;

  span {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    color: #5694f0;
    border: 1px solid #5694f0;
    display: inline-block;
    line-height: 14px;
    text-align: center;
    margin-right: 4px;
  }
}

.Display {
  display: none;
}
.hcTable {
  padding: 5px 16px;
  overflow: hidden;
  .hcul {
    height: 25px;
    line-height: 25px;
  }
  .hculmg {
    margin-bottom: 10px;
  }
  .hcul li {
    text-align: center;
    // float: left;
    font-size: 13px;
    font-weight: 700;
    color: #030303;
    background-color: #87cefa;
  }
  .hcul li:nth-child(1) {
    width: 40%;
  }
  .hcul li:nth-child(2) {
    width: 30%;
  }
  .hcul li:nth-child(3) {
    width: 30%;
  }

  .hculFz {
    height: 25px;
    line-height: 25px;
  }
  .hculFz li {
    font-size: 12px;
    font-weight: normal;
    background-color: #ffffff;
  }
  .hculFz li:nth-child(1) {
    text-align: left;
    color: #718499;
  }
  .hculFz li:nth-child(2) {
    text-align: center;
    color: #0076ff;
    border-left: 1px solid rgba(204, 204, 204, 0.5);
  }
  .hculFz li:nth-child(3) {
    text-align: center;
    color: #0076ff;
    border-left: 1px solid rgba(204, 204, 204, 0.5);
  }
}

.group-base {
  height: 106px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  .division-line {
    width: 1px;
    height: 35px;
    background: #cedcec;
    margin-top: 18px;
  }

  .head-left {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    flex: 1;

    .head-title-l {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      height: 16px;
      font-size: 11px;
      font-weight: 400;
      color: rgba(144, 144, 144, 1);
      line-height: 16px;
      img {
        width: 14px;
        height: 14px;
        margin-left: 4px;
      }
    }
    .head-value-l {
      height: 45px;
      font-size: 32px;
      font-weight: 400;

      line-height: 45px;
      margin-top: 2px;
    }
    .color {
      color: #ee4634;
    }
  }

  .head-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;

    .head-right-v {
      display: flex;
      flex-direction: column;
      .head-title-r {
        text-align: left;
        height: 16px;
        font-size: 11px;
        font-weight: 400;
        color: #909090;
        line-height: 16px;
      }
      .head-value-r {
        height: 45px;
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        color: rgba(69, 177, 139, 1);
        line-height: 45px;
        margin-top: 2px;
      }
    }
  }
}
.riskAndMoney {
  height: 40px;
  background: #ffffff;
  margin-left: 16px;
  margin-right: 16px;
  border-top: 1px solid #e6e6e6;
  align-items: center;
  display: flex;
  flex-direction: row;
  .riskType {
    line-height: 18px;
    border-radius: 40px;
    font-size: 11px;
    color: #45b18b;
    border: 1px solid #45b18b;
    border: 1px solid rgba(69, 177, 139, 0.5);
    padding: 0px 9px;
    text-align: center;
  }
  .purchaseAmount {
    line-height: 18px;
    border-radius: 40px;
    font-size: 11px;
    color: #909090;
    border: 1px solid rgba(144, 144, 144, 0.5);
    padding: 0px 9px;
    margin-left: 6px;
    text-align: center;
  }
}
