@font-face {
  font-family: 'iconfont';  /* project id 1276620 */
  src: url('//at.alicdn.com/t/font_1276620_56zm7cye8ad.eot');
  src: url('//at.alicdn.com/t/font_1276620_56zm7cye8ad.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1276620_56zm7cye8ad.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1276620_56zm7cye8ad.woff') format('woff'),
  url('//at.alicdn.com/t/font_1276620_56zm7cye8ad.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1276620_56zm7cye8ad.svg#iconfont') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-sidebar1:before {
  content: "\e90b";
}
.icon-sidebar2:before {
  content: "\e906";
}
.icon-sidebar3:before {
  content: "\e904";
}
.icon-sidebar4:before {
  content: "\e909";
}
.icon-sidebar5:before {
  content: "\e908";
}
.icon-sidebar6:before {
  content: "\e90a";
}
.icon-sidebar7:before {
  content: "\e905";
}
.icon-sidebar8:before {
  content: "\e907";
}
.icon-notice:before {
  content: "\e900";
}
.icon-new:before {
  content: "\e901";
  color: #e72843;
}
.icon-upload_alt:before {
  content: "\f093";
}
.icon-phone:before {
  content: "\f095";
}
.icon-double_angle_left:before {
  content: "\f100";
}
.icon-double_angle_right:before {
  content: "\f101";
}
.icon-double_angle_up:before {
  content: "\f102";
}
.icon-double_angle_down:before {
  content: "\f103";
}
.icon-angle_left:before {
  content: "\f104";
}
.icon-angle_right:before {
  content: "\f105";
}
.icon-angle_up:before {
  content: "\f106";
}
.icon-angle_down:before {
  content: "\f107";
}
.icon-circle_blank:before {
  content: "\f10c";
}
.icon-quote_left:before {
  content: "\f10d";
}
.icon-quote_right:before {
  content: "\f10e";
}
.icon-dot_circle_alt:before {
  content: "\f192";
}
.icon-_422:before {
  content: "\f1c2";
}
.icon-_592:before {
  content: "\f277";
}
