.alert-all {
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;

  .alert-box {
    position: relative;
    z-index: 10001;
    margin: 0 10%;
    background: #fff;
    border-radius: 2px;
    text-align: center;

    .close-btn {
      width: 26px;
      height: 45px;
      position: absolute;
      top: -44px;
      right: 0;
    }

    .alert-title {
      font-size: 16px;
      padding: 28px 0 12px 0;
      color: #4d4f51;
      font-weight: 400;
    }

    .alert-text {
      font-size: 14px;
      line-height: 24px;
      padding: 0 20px 24px 20px;
      text-align: center;
      color: #909090;
      font-weight: 400;
    }

    .alert-btn {
      border-top: 1px solid #eee;
      height: 36px;
      line-height: 36px;
      font-size: 14px;
      color: #fff;
      background: #1c82de;
      border-radius: 2px;
      margin: 0 20px 36px 20px;
      font-weight: 300;
    }
  }
  .black-bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
}
