// base color
$red: #ff5654;
$green: #07c0af;
$purple: #7f7dff;
$darkPurple: #575694;
$lightPurple: #cacaff;
$gray: #979797;
$orange: #f7a636;
$fontColor: #4a4a4a;
$borderColor: #ddd;
$bgHighLightGray: #fafafa;
$bgHeader: #1c82de;
$defaultColor: $darkPurple;
