.bmp_selectWidth{
    width: 15%;
}
.bmp_input{
    width:30% !important;
}
.bmp_credit{
    width: 20% !important;
}
.bmp_textarea{
    width: 100% !important;
}
.bmp_borderRed input{
    border:1px solid red !important; 
}
.bmp_nature{
     width: 40%;
}
.bmp_selectleft{
    text-align: left !important;
}
.idcart{
    padding-left: 2.2%;
}
.btn{
    margin-top: 20px;
}
.allSe{
  width: 21% !important;
}