.borrowLink {

}
.borrowLink .replenishTitle{
    padding: 20px 3px;
    font-size: 16px;
    line-height:1.5;
}
.borrowLink .textareawrap{
    /* height: 120px;  */
}
.borrowLink .saveBtn{
    width:60%;
}
.borrowLink .promise{
    line-height: 2

}
/*.firstOpinion .amendOpinion{*/
    /*height: 90px ;*/
    /*line-height: 90px;*/
/*}*/
