.am-action-sheet-title {
  font-size: 14px;
  color: #909090;
  line-height: 20px;
  font-family: PingFangSC-Regular;
}

.am-action-sheet-button-list-item {
  height: 48px;
  line-height: 48px;
  color: #1d8ce0;
  font-size: 16px;
}

.am-action-sheet-cancel-button {
  color: red;
}
